@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.hero-section {
  position: relative;
  height: 100vh;
  background: url(../../assets/warehouse-full-of-cartons-of-aluminum-cutouts-2025-01-09-02-58-10-utc.jpg) center center / cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  animation: fadeInUp 1.5s ease-out forwards;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-btn,
.hero-btn-outline {
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-btn {
  background-color: white;
  border: none;
  color: black;
}

.hero-btn-outline {
  background: transparent;
  border: 2px solid white;
  color: white;
}

/* Animação */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
